[Desktop Entry]
Name=MyTetra
Comment=Smart manager for information collecting
Comment[ru]=Менеджер накопления осмысленной информации
Exec=/opt/ru.webhamster.mytetra/bin/mytetra
Icon=mytetra
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;Utility;
