/* CSS for any desktop OS */
/* Set your Qt CSS style in this file */

QToolBar, QToolButton, QPushButton
{ 
  icon-size: META_ICON_SIZEpx; /* maximum icon size */ 
}

/* Скругление кнопок */
/*
QToolButton, QPushButton, QComboBox 
{ 
  border-color: gray;
  border-width: 1px;
  border-radius: META_ICON_SIXTH_SIZEpx;
  border-style: solid;
}
*/

QComboBox 
{
  icon-size: META_ICON_SIZEpx;
  margin: 0px;
}

QCheckBox::indicator 
{
  width: META_ICON_HALF_SIZEpx;
  height: META_ICON_HALF_SIZEpx;
}

QRadioButton::indicator
{
  width: META_ICON_HALF_SIZEpx;
  height: META_ICON_HALF_SIZEpx;
}

QRadioButton::indicator::checked
{
  width: META_ICON_SIZEpx;
  height: META_ICON_SIZEpx;
}
